/* Main container inside Dialog */
.o_spotlight_dialog {
    top: 120px;
    position: absolute;
}

.o_spotlight_dialog>.modal-body {
    padding: 0;
}

/* Search bar */
.o_spotlight_search_header {
    border-bottom: 1px solid #e4e4e4;
    background: #f9f9f9;
    padding: 12px;
}

.o_spotlight_search_header .navigation_tip {
    padding-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.o_spotlight_search_wrapper {
    position: relative;
}

.o_spotlight_search_icon {
    position: absolute;
    top: 50%;
    left: 22px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #999;
}

.o_spotlight_search {
    width: 100%;
    padding: 10px 12px 10px 42px;
    font-size: 15px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
}

.o_spotlight_search:focus {
    outline: none;
    border-color: #875a7b;
    box-shadow: 0 0 4px rgba(135, 90, 123, 0.25);
}

/* Results container */
.o_spotlight_results {
    max-height: 50vh;
}

/* Section */
.o_spotlight_section {
    margin-bottom: 0px;
}

.o_spotlight_section_header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 14px;
    background: #f3f3f3;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.o_spotlight_section_icon {
    width: 25px;
    height: 25px;
    opacity: 0.9;
}

.o_spotlight_section_title {
    font-size: 13px;
    font-weight: 600;
    color: #6b6b6b;
    text-transform: uppercase;
}

/* Items */
.o_spotlight_item {
    padding: 10px 18px;
    cursor: pointer;
    border-top: 1px solid #f1f1f1;
}

.o_spotlight_item:hover,
.o_spotlight_item.active {
    background: #f5f0f6;
}

.o_spotlight_item_active {
    background: #f5f0f6;
}

.o_spotlight_item_title {
    font-size: 15px;
    color: #333;
    font-weight: 500;
}

.o_spotlight_item_subtitle {
    font-size: 13px;
    color: #777;
}
